.modal {
  top: 50%;
  left: 0;
  width: 100%;
  max-height: 900px;
}

@media (min-width: 768px) {
  .modal {
    width: 768px;
    left: calc(50% - 384px);
  }
}

@media (min-height: 500px) {
  .modal {
    min-height: 500px;
  }
}
